{
  "env": {
    "targets": {
      "node": 18
    }
  },
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "loose": false
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": "inline"
}